.about__text {
	margin-top: -15px;
	margin-bottom: 10px;
}

.about__text p {
	font-size: 16px;
	line-height: 1.9;
	color: #333333;
	padding-bottom: 2em;
}

.about__text h1 {
	font-size: 28px;
}

.about__text h2 {
	font-size: 26px;
}

.about__text h3 {
	font-size: 24px;
}

.about__text h4 {
	font-size: 22px;
}

.about__text h5 {
	font-size: 20px;
}

.about__text h6 {
	font-size: 18px;
}

.about__text h1,
.about__text h2,
.about__text h3,
.about__text h4,
.about__text h5,
.about__text h6 {
	line-height: 1.5;
	color: #000;
	font-weight: bold;
	padding-bottom: 50px;
}

.about__text ul {
	margin: 0px;
	margin-bottom: 2em;
}

.about__text ul li {
	list-style-type: disc;
	list-style-position: inside;
	line-height: 1.7;
	margin-bottom: 5px;
	padding-left: 20px;
}

.about__text ol {
	padding: 0px;
	margin: 0px;
	margin-bottom: 2em;
}

.about__text ol li {
	list-style-type: decimal;
	list-style-position: inside;
	line-height: 1.7;
	margin-bottom: 5px;
	padding-left: 20px;
}

.about__image img {
	display: block;
}

.about--page {
	margin-top: -65px;
}

.about--page .about__text {
	margin-top: 0px;
}

.about--hemp .alignright,
.about--hemp .alignleft {
	max-width: 430px;
}

.about--elevator .alignright,
.about--elevator .alignleft {
	max-width: 390px;
}

.alignright {
	float: right;
	margin-left: 40px;
}

.alignleft {
	float: left;
	margin-right: 40px;
}

.alignright,
.alignleft {
	max-width: 580px;
	margin-bottom: 25px;
}

.alignright img,
.alignleft img {
	display: block;
}

@media screen and (max-width: 1199px) {

.about__text {
	margin-top: 0px;
}

.about--page {
	margin-top: 0px;
}

}

@media screen and (max-width: 1050px) {

.alignright,
.alignleft {
	max-width: 480px;
}

}

@media screen and (max-width: 960px) {

.about__text p {
	line-height: 1.7;
}

.alignright,
.alignleft {
	max-width: 400px;
}

}

@media screen and (max-width: 780px) {

.about__text h1 {
	font-size: 26px;
}

.about__text h2 {
	font-size: 24px;
}

.about__text h3 {
	font-size: 22px;
}

.about__text h4 {
	font-size: 20px;
}

.about__text h5 {
	font-size: 18px;
}

.about__text h6 {
	font-size: 16px;
}

.about__text h1,
.about__text h2,
.about__text h3,
.about__text h4,
.about__text h5,
.about__text h6 {
	line-height: 1.4;
	padding-bottom: 35px;
}

.alignright,
.alignleft {
	float: none;
	margin: 0 auto;
	margin-bottom: 30px;
}

}

