.main-header {
	padding-top: 40px;
}

.main-header__block {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 90px;
}

.main-header__btn {
	position: relative;
	cursor: pointer;
	display: block;
	width: 40px;
	height: 30px;
	margin-left: 35px;
	margin-top: -2px;
}

.main-header__burger {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 40px;
	height: 3px;
	background-color: #13491e;
	transition: 0.5s width;
}

.main-header__burger:after,
.main-header__burger:before {
	content: '';
	position: absolute;
	width: 40px;
	height: 3px;
	background-color: #13491e;
	left: 0;
	transition: 0.5s;
}

.main-header__burger:after {
	top: calc(100% + 10px);
}

.main-header__burger:before {
	bottom: calc(100% + 10px);
}

.main-header__image {
	max-width: 200px;
	margin: 0 auto;
	margin-bottom: 36px;
}

.main-header__image img {
	display: block;
	width: 100%;
}

.main-header__text {
	max-width: 790px;
	margin: 0 auto;
	margin-bottom: 65px;
}

.main-header__text p {
	font-size: 18px;
	line-height: 1.7;
	color: #13491e;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.main-header__pic img {
	display: block;
}

.header__wrap {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-top: 40px;
}

.header__col {
	display: flex;
}

.header__image {
	display: block;
	max-width: 105px;
	width: 100%;
	margin-right: 30px;
}

.header__image img {
	display: block;
}

.header__block {
	display: flex;
	align-items: center;
}

.language-chooser {
	display: flex;
	align-items: center;
	margin-left: 30px;
}

.language-chooser li {
	font-size: 18px;
	line-height: 1.2;
	padding: 0px 10px;
	text-transform: uppercase;
}

.language-chooser li:not(:last-child) {
	position: relative;
}

.language-chooser li:not(:last-child):after {
	position: absolute;
	content: '|';
	color: #333333;
	top: 0px;
	right: 0px;
}

.language-chooser li:first-child {
	padding-left: 0px;
}

.language-chooser li:last-child {
	padding-right: 0px;
}

.language-chooser li a {
	color: #333;
}

.language-chooser li a:hover {
	text-decoration: underline;
}

.language-chooser li.active a {
	font-weight: 700;
}

.language-chooser li.active a:hover {
	text-decoration: none;
}

@media screen and (max-width: 1199px) {

.main-header {
	margin-bottom: 25px;
}

.header {
	margin-bottom: 25px;
}

}

@media screen and (max-width: 960px) {

.main-header__image {
	max-width: 150px;
}

.main-header__text p {
	font-size: 17px;
	line-height: 1.5;
}

}

@media screen and (max-width: 780px) {

.main-header__text p {
	font-size: 16px;
}

}

@media screen and (max-width: 650px) {

.header__wrap {
	flex-direction: column;
	align-items: center;
}

.header__col {
	order: 2;
	flex-direction: column;
	margin-top: 25px;
	display: contents;
}

.header__image {
	margin: 0 auto;
	margin-bottom: 30px;
}

.header__elem {
	display: contents;
}

.header__block {
	margin-bottom: 25px;
}

.header {
	margin-bottom: 5px;
}

}

