.map__wrap {
	position: relative;
	max-width: 780px;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 40px;
}

.map__holder img {
	display: block;
}

.map__col {
	position: absolute;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}

.map__col span {
	display: block;
	padding-top: 5px;
	font-weight: normal;
}

.map__col:first-child {
	top: 5px;
	left: 15%;
}

.map__col:first-child span {
	text-align: right;
}

.map__col:nth-child(2) {
	top: 5px;
	right: 10px;
}

.map__col:nth-child(3) {
	top: 80px;
	right: 9%;
}

@media screen and (max-width: 840px) {

.map__col {
	font-size: 17px;
}

.map__col:nth-child(2) {
	right: 5px;
}

.map__col:nth-child(3) {
	right: 8%;
}

}

@media screen and (max-width: 780px) {

.map__col {
	font-size: 15px;
}

.map__col:first-child {
	left: 18%;
}

.map__col:nth-child(2) {
	top: -50px;
}

.map__col:nth-child(3) {
	right: 2%;
}

}

@media screen and (max-width: 650px) {

.map__col {
	font-size: 14px;
}

.map__col:first-child {
	left: 16%;
}

.map__col:nth-child(3) {
	top: 60px;
	right: 0%;
}

}

@media screen and (max-width: 560px) {

.map__col {
	font-size: 13px;
}

.map__col:first-child {
	left: 11%;
}

.map__col:nth-child(3) {
	top: 35px;
	right: -2%;
}

}

@media screen and (max-width: 480px) {

.map__col {
	font-size: 11px;
}

.map__col:first-child {
	left: 9%;
}

.map__col:nth-child(2) {
	top: -40px;
}

.map__col:nth-child(3) {
	top: 22px;
}

}

@media screen and (max-width: 400px) {

.map__col {
	font-size: 10px;
}

.map__col:first-child {
	left: 4%;
}

.map__col:nth-child(2) {
	right: 0px;
}

}

