.media {
	padding-top: 22px;
}

.media__wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
}

.media__item {
	width: calc(100% / 3 - 40px);
	box-shadow: 0 10px 30px rgba(131, 131, 131, 0.2);
	margin: 0 20px;
	margin-bottom: 40px;
}

.media__item:hover .media__details {
	color: #808080;
}

.media__item:hover .media__dots {
	fill: #808080;
}

.media__image {
	padding-top: 45%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.media__text {
	padding: 32px 35px;
}

.media__title {
	font-size: 16px;
	line-height: 1.9;
	color: #333;
	padding-bottom: 18px;
	font-weight: bold;
}

.media__desc {
	padding-bottom: 25px;
}

.media__desc p {
	font-size: 14px;
	line-height: 2.1;
	color: #333333;
}

.media__btn {
	cursor: pointer;
	display: flex;
	align-items: center;
	background-color: #fff;
	border: none;
	outline: none;
}

.media__details {
	display: block;
	font-size: 16px;
	color: #13491e;
	padding-right: 14px;
	font-weight: bold;
	transition: 0.3s color;
}

.media__dots {
	display: block;
	fill: #13491e;
	transition: 0.3s fill;
}

@media screen and (max-width: 1199px) {

.media {
	padding-top: 0px;
}

}

@media screen and (max-width: 1050px) {

.media__text {
	padding: 30px 20px;
}

}

@media screen and (max-width: 960px) {

.media__item {
	width: calc(100% / 2 - 40px);
}

}

@media screen and (max-width: 780px) {

.media__wrap {
	margin: 0px;
}

.media__item {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 40px;
}

.media__title {
	line-height: 1.6;
}

.media__desc p {
	line-height: 1.9;
}

}

