.team {
	margin-top: -65px;
}

.team__wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
	padding-top: 34px;
}

.team__item {
	width: calc(100% / 3 - 40px);
	box-shadow: 0 10px 30px rgba(131, 131, 131, 0.2);
	padding-bottom: 30px;
	margin: 0 20px;
	margin-bottom: 42px;
}

.team__image {
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 76%;
	margin-top: 10px;
	margin-bottom: 40px;
}

.team__image--no {
	background-image: url(../img/no-pic.png);
	background-repeat: no-repeat;
	background-size: 70px 70px;
	background-position: center;
	min-height: 215px;
	border: 2px solid #cdcdcd;
	padding-top: 0px;
	margin: 0 35px;
	margin-top: 28px;
	margin-bottom: 56px;
}

.team__content {
	padding: 0 35px;
}

.team__fio {
	font-size: 18px;
	color: #13491e;
	text-transform: uppercase;
	margin-bottom: 8px;
	font-weight: bold;
}

.team__position {
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	font-weight: bold;
}

@media screen and (max-width: 1199px) {

.team {
	margin-top: 0px;
}

}

@media screen and (max-width: 1050px) {

.team__item {
	width: calc(100% / 2 - 40px);
}

.team__image {
	padding-top: 69%;
}

}

@media screen and (max-width: 780px) {

.team__wrap {
	margin: 0px;
	padding-top: 20px;
}

.team__item {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 42px;
}

.team__image {
	margin-bottom: 20px;
}

}

