@import 'responsive'

.popup
	position: fixed
	z-index: 16
	top: 0
	left: 0
	width: 100%
	height: 100%
	opacity: 0
	visibility: hidden
	background-color: rgba(0, 0, 0, 0.5)
	z-index: 20
	transition: 0.3s opacity, 0.3s visibility
		
	&--active
		opacity: 1
		visibility: visible

	&__block
		max-width: 960px
		width: 100%
		height: 100%
		overflow-y: auto
		overflow-x: hidden
		background-color: #fff
		padding: 30px 40px
		padding-bottom: 15px
		margin-left:  auto
		transform: translateX(100%)
		transition: 0.3s transform
		+media(md)
			padding: 30px 20px	

		&--active
			transform: translateX(0)

	&__desc
		user-select: none
		display: inline-block
		position: relative
		cursor: pointer
		font-size: 36px
		font-weight: 200
		line-height: 1
		color: #13491e
		text-transform: uppercase
		padding-top: 50px
		margin-bottom: 45px
		font-weight: 900
		+media(md)
			font-size: 35px
		+media(sm)
			margin-top: 10px	

		&:before
			content: ' '
			position: absolute
			top: 0px
			left: 17px
			width: 20px
			height: 20px
			border-top: 2px solid #000
			border-right: 2px solid #000
			transform: rotate(45deg)
			transition: 0.3s border

		&:after
			content: ' '
			position: absolute
			top: 9px
			left: 0px
			width: 40px
			height: 2px
			background-color: #333
			transition: 0.3s border

	&__list
		max-width: 400px

	&__link,
	&__box
		display: inline-block
		font-size: 18px
		line-height: 1.2
		color: #48654e
		margin-bottom: 15px
		font-weight: normal
		transition: 0.3s color

		&--active
			font-weight: 700

	&__submenu
		background-color: #a6da8a
		border-left: 5px solid #73a458
		padding-left: 35px
		padding-top: 15px
		margin-bottom: 20px

	&--data
		display: flex
		align-items: center

	&__title
		font-size: 30px
		color: #333333
		text-transform: uppercase
		padding-bottom: 15px
		font-weight: 700
		+media(md)
			font-size: 22px

	&__subtitle
		font-size: 36px
		color: #13491e
		text-transform: uppercase
		padding-bottom: 17px
		font-weight: normal
		+media(md)
			font-size: 27px

	&__close
		position: absolute
		top: 34px
		right: 40px
		width: 40px
		height: 40px
		cursor: pointer
		z-index: 1
		+media(md)
			top: 16px
			right: 20px
			width: 30px
			height: 30px

		&:after,
		&:before
			content: ''
			position: absolute
			top: 18px
			left: 0
			width: 40px
			height: 3px
			background-color: #333333
			transition: 0.3s background-color
			+media(md)
				top: 13px
				width: 30px

		&:after
			transform: rotate(45deg)
		&:before
			transform: rotate(-45deg)

		&:hover
			&:after,
			&:before
				background-color: #a6da8a

.inner

	&-overlay
		position: relative
		margin: 0 auto

	&-text
		position: relative
		overflow: auto
		overflow-x: hidden
		max-height: 80vh
		max-width: 580px
		width: 100%
		background: #fff
		box-shadow: 0 0 30px rgba(131, 131, 131, 0.2)
		padding: 40px
		padding-bottom: 45px
		+media(md)
			padding: 20px
			padding-bottom: 35px